
@{
    ViewData["Title"] = "ListarFornecedor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listar Fornecedor</h2>
<hr />
<a asp-action="NovoFornecedor" asp-controller="Gestao" class="btn btn-success">Criar novo Fornecedor</a>

<hr />



