@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listar Categorias</h2>
<hr />
<a asp-action="NovaCategoria" asp-controller="Gestao" class="btn btn-success">Criar nova categoria</a>

<hr />

